#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

/*NAV bar stuff*/
ul {
  width: 300%;
  transform: translateX(-4%);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #76867c;*/
}

ul select {
  font-family: 'Press Start 2P', monospace;
  float: center;
  color: white;
  text-align: center;
  padding: 6px 12px;
  text-decoration: none;
  /*background-color: #76867c;*/
}

/*ul select:hover {
  background-color: #87938b;
}*/

@media (prefers-color-scheme: light) {
  ul {
    
    /*background-color: #76867c;*/
  }
  
  ul select {
    color: rgb(53, 51, 51);
    /*background-color: #76867c;*/
  }
}




