/*TODO all of this is very basic stuff */
.scene {
    /*position: relative;
    width: 96px;
    height: 96px;*/
  }
  .pixel-condition{
    image-rendering: pixelated;
    max-width: 180%;
    transform: translate(25%, 3%);
    margin-top: 10%;
     
    
    /*
    max-width: 200%;
    max-height: 40%;
    transform: translate(105%, 40%), scale(1.9);
    */
    z-index: -2;
  }
  .pixel-condition img {
    /* Adjust these values to position the desired part of the image */
     
    margin-left: -300px;
}
  
  .pixel-sprite {
    /*width: 96px;
    height: 96px;
    
    */
    max-width: 40%;
    transform: translate(380%, 190%);
    z-index: -1;
    image-rendering: pixelated;
  }

  .window-scene-container{
    display: grid;
    
  }
  .window-scene-container img {
    /* Place all images in the same row and column (e.g., the first one) */
    grid-area: 1 / 1 / 2 / 2; /* Shorthand for grid-row-start / grid-column-start / grid-row-end / grid-column-end */
     /* Optional: make images fill the grid cell */
  }

  .pixel-window{
    /*TODO fix the sizing !!!*/
    /* */
    max-width: 250%;
    image-rendering: pixelated;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .night {
    filter: brightness(0.65) hue-rotate(10deg);
  }