/*TODO all of this is very basic stuff */
.scene {
    /*position: relative;
    width: 96px;
    height: 96px;*/
  }
  .pixel-condition{
    image-rendering: pixelated;
    max-width: 180%;
    transform: translate(25%, 3%);
    margin-top: 10%;
     
    
    /*
    max-width: 200%;
    max-height: 40%;
    transform: translate(105%, 40%), scale(1.9);
    */
    z-index: -2;
  }
  .pixel-condition img {
    /* Adjust these values to position the desired part of the image */
     
    margin-left: -300px;
}
  
  .pixel-sprite {
    /*width: 96px;
    height: 96px;
    
    */
    max-width: 40%;
    transform: translate(380%, 190%);
    z-index: -1;
    image-rendering: pixelated;
  }

  .window-scene-container{
    position: absolute;
    inset: 0;
    display: grid;
    
  }
  .window-scene-container img {
    /* Place all images in the same row and column (e.g., the first one) */
    grid-area: 1 / 1 / 2 / 2; /* Shorthand for grid-row-start / grid-column-start / grid-row-end / grid-column-end */
  }

  .pixel-window{
    /*TODO fix the sizing !!!*/
    /* */
    max-width: 250%;
    image-rendering: pixelated;
  }
.scene-container{
  position: relative;
  width: 500px;
  height: 700px;
}
.text-container {
  position: absolute;
  top: 40%;
  right: -500px;      /* distance from right edge */
  transform: translateY(-50%);
  text-align: right;
  
  color: rgb(207, 205, 210);
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;

  text-shadow:
    2px 0 rgb(88, 85, 85),
    -2px 0 rgb(88, 85, 85),
    0 2px rgb(88, 85, 85),
    0 -2px rgb(88, 85, 85);
}


.text{
  text-align: right;
  transform: translate(10%, 10%);

}
.stack-container{
  position: relative;
  display: inline-block;
}

  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .night {
    filter: brightness(0.65) hue-rotate(10deg);
  }